/* Login / SingUp Forms */
body {
    width: 100vw;
    height: 100vh;
}

.site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/ToDo-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 5px;
    padding-bottom: 14em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    box-shadow: rgb(0, 46, 52) 0px 0px 18px 7px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #f46c00d1;
}


.card-header {
    border-radius: 5px 5px 0px 0px;
    text-shadow: black 0px 0px 4px;
    background-color: rgb(3, 18, 19);
    border-bottom: 2px solid black;
    color: rgb(207, 234, 222);
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
}

.card-input-wrap {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-input {
    margin: 0.7em;
    padding: 3px;
    font-weight: 700;
    background-color: rgba(191, 190, 150, 0.753);
    border: 1px solid rgb(46, 46, 46);
    outline: none;
}

.card-input:focus {
    background-color: #BFBE96;
    box-shadow: #420b008c 0px 0px 5px 0.075px;
}

.card-input:active {
    background-color: #BFBE96;
    box-shadow: #420b008c 0px 0px 5px 0.075px;
}

.card-input:visited {
    background-color: #BFBE96;
    box-shadow: #420b008c 0px 0px 5px 0.075px;
}


.card-label {
    color: #000000;
    font-weight: 700;
    font-size: 1.175rem;
}

.link-class {
    margin: 0.7em;
    color: rgb(207, 234, 222);
    text-shadow: black 0px 0px 7px;
}

.link-class:hover {
    color: rgb(158, 179, 169);
}

.card-button {
    margin-top: 1.2em;
    color: rgb(207, 234, 222);
    background-color: rgb(3, 18, 19);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 3px;
    box-shadow: black 1px 1px 1px;
    border: 1px solid black;
    outline: none;
}

.card-button:hover {
    color: rgb(232, 255, 245);
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

.card-button:active {
    background-color: #dddcdc;
    box-shadow: 0px 0px 0px 0px rgb(35, 36, 35);
    transform: translateY(0.5px);
    outline: none;
}

/* Add Todo Card  */
.card-wrap {
    display: flex;
    margin-top: -90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 400px;
    box-shadow: rgb(88, 95, 82) 0px 1px 7px -1px;
    border: 1px solid black;
    background-color: rgb(236, 240, 232);
}

.card-button-wrap {
    display: flex;
}

.todo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 400px;
    box-shadow: rgb(0, 46, 52) 0px 0px 18px 7px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #f46c00d1;
}